.label {
    -fx-text-fill: rgba(255,255,255,0.75);
}
.menu-item .label {
    -fx-text-fill: rgba(0,0,0,1);
}
.styled-text-area .navigator {
    -fx-padding: 5px;
}
.styled-text-area {
    -fx-effect: innershadow( gaussian , #00000015 , 5 , 0 , 2 , 2 );
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: #ccc;
    -fx-font-family: Monospaced;
}
.tool-bar {
    background-color: #000000;
}

.splash-screen {
    -fx-background-image: url("/image_assets/loading_page_background.jpg");
    -fx-background-size: 600px 450px;
}

.loading-bar {
    -fx-border-style: none;
}

.progress-bar .bar {
    -fx-padding: 1px;
    -fx-background-color: black;
}

#borderPane, #menuBar, #convertPane, #settingsPane, #timeSignaturePane, #tabPlayerPane {
    -fx-background-color: rgb(50,50,50);

}

#tabPlayerDisplay {
    -fx-font-family: Monospaced;
}
